<% @products.each do |product| %>
  <li> <%= product.name %> - <%= product.category %> </li>
  <br>
  <% if product.quantity < 1 %>
    Out of Stock
  <% else %>
    <%= form_for [@order, product] do |f| %>
      <%= f.submit 'Add to cart' %>
    <% end %>
  <% end %>
  <br>
  <br>
<% end %>
<br>
<br>
<h3>Shopping cart:</h3>
<br>
<br>
<% if @order.products.length > 0 %>
  <% @order.products.each do |product| %>
    <li> <%= product.name %> <%= link_to 'Remove item', order_product_path(@order, product), method: :delete %></li>
  <% end %>
  Total: <%= @total %>
  <% if @order.discount > 0 %>
    Discount: $<%= @order.discount %>
  <% end %>
<% else %>
  Empty!
<% end %>
<br>
Available vouchers:
<br>
<br>
<% @order.vouchers.each do |voucher| %>
    <%= form_for [@order] do |f| %>
      <%= f.submit value: voucher['description'] %>
    <% end %>
    <br>
<% end %>
