<% @products.each do |product| %>
  <li> <%= product.name %> - <%= product.category %>
    <% if product.old_price %>
      Was <strike><%= number_to_currency(product.old_price) %></strike>
      Now
    <% end %>
    <%= number_to_currency(product.price) %>
  </li>
  <br>
  <% if product.quantity < 1 %>
    Out of Stock
  <% else %>
    <%= form_for [@order, product] do |f| %>
      <%= f.submit 'Add to cart' %>
    <% end %>
  <% end %>
  <br>
  <br>
<% end %>
<br>
<br>
<h3>Shopping cart:</h3>
<% if @ordered_products.length > 0 %>
  <% @ordered_products.uniq.each do |product| %>
    <li> <%= @ordered_products.count(product) %>x <%= product.name %> <%= number_to_currency(product.price) %> <%= link_to 'Remove item', order_product_path(@order, product), method: :delete %></li>
    <br>
  <% end %>
  Total: <%= number_to_currency(@order.total) %>
  <% if @order.discount > 0 %>
    Discount: <%= number_to_currency(@order.discount) %>
  <% end %>
  <br>
  Available voucher:
  <br>
  <%= form_for [@order] do |f| %>
    <%= f.submit value: @available_voucher['description'] %>
  <% end %>
<% else %>
  Empty!
<% end %>
